body {
	font-family: 'Open Sans', sans-serif, Verdana;
	margin: 0;
	color: white;
	text-align: center;
  line-height: 1.8;
  letter-spacing: .2vw;
}

.section {
  padding-top: 12vw;
}

a {
  transition: opacity .3s;
  text-decoration: none;
  color: #16cec5;
}

ul,
li {
  list-style: none;
}


body::before {
  background: linear-gradient(-135deg,#a3ccbe,#a3b1cc,#bea3cc);
	background-size: cover;/* cover指定できる */
  content: "";
  display: block;
  position: fixed;/* 擬似要素ごと固定 */
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;/* 横幅いっぱい */
  height: 100vh;/* 縦幅いっぱい */
}


.inner {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 10vw;
}

header h1 {
  margin: 8vw auto 0 auto;
  /* margin-bottom: 0; */
  font-size: 5vw;
  font-weight: 800;
  font-style: italic;
}

header h2 {
  margin: 0;
  margin-top: 0.1vw;
  margin-bottom: 9vw;
  font-size:3vw;
  font-weight: 700;
  font-style: italic;
}

.gnav {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  background: rgb(255,255,255,0.2);
  margin: 0;
}

.gnav-inner {
  padding: 15px 40px;
}

.gnav-list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.gnav-item {
  margin: 0 3vw;
}

.gnav-item a {
  font-weight: 700;
  /* font-style: italic; */
  color: white;
  position: relative;
  font-size: 2.5vw;
  font-weight: bold;
  line-height: 1;
  display: inline-block;
  transition: 0.3s;
  letter-spacing: .05em;
}

.gnav-item a:hover {
  opacity: .8;
}

.works h1,
.skill h1,
.about h1,
.contact h1 {
  font-size:3vw;
  font-weight: 700;
  margin: 0;
}

.works p,
.skill p,
.about p,
.contact p {
  font-size: 2vw;
  font-weight: 400;
  margin: 0;
}

/* 使ってない */
.works section,
.skill section,
.about section,
.contact section {
  /* margin: 0;
  margin-bottom: 30x; */
}


footer {
	font-size: 2vw;
	color: gray;
  margin: 8vw;
}