body {
	font-family: "筑紫A丸ゴシック", Verdana, sans-serif;
	/* color: transparent; */
	margin: 0;
	background: linear-gradient(-135deg,#a3ccbe,#a3b1cc,#bea3cc);
	/* background-size: cover; */
}

header {
	/* background: rgb(255,255,255,0.5); */
	text-align: center;
	height: 100px;
	/* width: 340px; */
	margin: 30px auto 0;
	display: table;
	/* border-radius: 50%;
	border-style: solid;
	border-color: white;
	border-width: 5px; */
}

.headerclass {
	display: table-cell;
	vertical-align: middle;
}

header h1 {
	font-weight: normal;
	font-size: 2.5rem;
	margin: 0;
	color: white;
}

header img {
	width: 7rem;
	height: 7rem;
	margin: 0;
}

.menu {
	width: 320px;
	height: 260px;
	margin: 0 auto;
	display: table;
}

.menu > ul {
	display: table-cell;
	vertical-align: middle;
	list-style-type: none;
	padding-left: 0;
	margin: 0;
}

.serch > ul,
.all > ul,
.add > ul {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	padding-left: 0;
	/* text-align: center; */
	margin: 0;
}

.serch > ul:hover,
.all > ul:hover,
.add > ul:hover {
	opacity: 0.5;
}

.menu img {
	width: 3rem;
	height: 3rem;
	margin-right: 12px;
}

.menu h1 {
	font-size: 2rem;
	font-weight: normal;
	margin: 0;
	color: white;
	/* vertical-align: bottom; */
}

.serch,
.all,
.add {
	margin: 30px auto;
	background: rgb(255,255,255,0.2);
	border-style: solid;
	border-width: 3px;
	border-color: white;
	border-radius: 5ch;
	padding: 10px;
	width: 10rem;
}

a {
	text-decoration-line: none;
}

footer {
	/* background: lightsteelblue; */
	text-align:center;
	color: lightslategrey;
	margin: 40px auto 20px;
}